.checkout_container {
  display: flex;
  justify-content: center;
  margin: 65px;
  height: 1080px;
}

.form_container {
  background-color: white;
  width: 670px;
}

.products_container {
  width: 810px;
  padding-left: 75px;
  display: flex;
  align-items: center;
}

