.product_item_container {
    display: flex;
    align-items: center;
}

p {
    background-color: #a0cac5;
    height: 95px;
    width: 95px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product_item_details {
    display: flex;
    flex-direction: column;
    align-items: center;
}